input[type='text'], input[type='email'] {
    border: 1px solid green;
    width: 100%;
    padding: 5px;
    color: green;
    font-weight: bold;
    border-radius: 20px;
}

input[type='button'] {
    background-color: green;
    border: none;
    /*border: 2px solid red;*/
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

input[type='button']:hover {
    background-color: gray;
}

label {
    font-weight: bold;
    color: green;
}