/* General Styles */
html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px 0 0; /* Add 100px top padding */
    background: linear-gradient(315deg, #caceb1, #bec2b4, #b1b8b3, #9fa49e, #98968b);
}

/* Wrapper Styles */
.wrapper {
    display: flex; /* Use flexbox to arrange the header image and header title */
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center the elements horizontally */
    height: auto; /* Allow the wrapper to adjust its height based on content */
    padding: 0 15px; /* Add 15px padding on the left and right sides for smaller screens */
    max-width: 800px; /* Set the maximum width of the wrapper to 800px on larger screens */
    margin: 0 auto; /* Center the wrapper horizontally */
    background-color: #f2f3eb;
    box-sizing: border-box; /* Ensure padding is included within the specified width */
    position: relative; /* Add relative positioning to enable overlapping elements */
}

/* Header Styles */
.header-image {
    margin-top: -75px; /* Move the header image 75px above the default position */
    width: 150px; /* Set the width of the header image */
    height: 150px; /* Set the height of the header image */
    border-radius: 50%; /* Make the header image rounded (circle) */
    overflow: hidden; /* Hide any content that might overflow the circle */
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills the circle without distortion */
}

.header-title { /* Styles for the header title */
    text-align: center; /* Center the header title */
    margin-top: 20px; /* Add margin between the image and the title */
}

/* Title Styles */
.title {
    font-size: 32px; /* Set the font size of the title */
}

/* Media Queries for Responsiveness */
@media (max-width: 850px) {
    body {
        padding-top: 100px; /* Reduce top padding on smaller screens */
    }

    .wrapper {
        height: auto; /* Allow the wrapper to adjust its height based on content */
        padding: 0 15px; /* Add 15px padding on the left and right sides for smaller screens */
        max-width: calc(100% - 30px); /* Adjust max-width to account for the added padding */
    }

    .header-image {
        width: 120px;
        height: 120px;
        margin-top: -60px; /* Move the header image 60px above the default position */
    }
}
